$theme-colors: (
  "primary": #731ab7,
  "success": #63dc3e,
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 4.5rem;
}

.form-inline {
  display: flex;
}

a {
  text-decoration: none;
}
